<% modal_id = 'new-auth-key-modal' %>

<%= render "components/navbar", :locals => { page: :home } %>

<div class="home container">
  <div class="home__tokens">
    <h2>My Auth Tokens</h2>
    <% if @auth_tokens.length == 0 %>
      No auth keys found
    <% else %>
      <% @auth_tokens.each_with_index do |auth_token, idx| %>
        <div class="home__token-row">
          <div class="home__token-name-<%= idx %>"> <%= auth_token[:name] %> </div>
          <div class="home__token-scope-<%= idx %>"> <%= auth_token[:scope] %> </div>
          <div class="home__auth-token-<%= idx %>"> <%= auth_token[:token] %> </div>
          <div class="home__auth-action" data-target="<%= idx %>"> View Token </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="home__actions">
    <%=
      render "components/modal/trigger",
      locals: { target: modal_id, title: "Create Auth Key" }
    %>
    <a
      href="<%= session_controller_path %>"
      class="btn btn-outline-danger btn-block"
    >
      Start Session
    </a>
  </div>
</div>

<%=
  render "components/modal/index",
  locals: { title: "Create new auth key", id: modal_id } do
%>
  <%= form_for(@auth_token, class: 'devise-form__form', url: :generate_token) do |f| %>
    <div class="devise-form__input">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, required: true %>
    </div>

    <div class="devise-form__input">
      <%= f.label :scope %><br />
      <%= f.select :scope, @scopes, required: true %>
    </div>

    <div>
      <%= f.submit "Create Auth Token", class: "btn btn-success btn-block mt-4" %>
    <div>
  <% end %>
<% end %>

<%= javascript_pack_tag 'home/index' %>